<div class="row p-5">
    <div class="col-1"></div>
    <div class="col-3">
        <div>
            <img [src]="getImg()" width="100%">
        </div>
        <div>
            <h2 class="mt-5">Personal Info</h2>
            <p>Know For</p>
            <p>{{actor.known_for_department}}</p>
            <p>Know Credits</p>
            <p>{{actorMovies.cast.length}}</p>
            <p>Gender</p>
            <p>{{actor.gender}}</p>
            <p>Birthday</p>
            <p>{{actor.birthday}}</p>
            <div *ngIf="actor.deathday!=null">
                <p>Deathday</p>
                <p>{{actor.deathday}}</p>
            </div>
            <p>Birthday Place</p>
            <p>{{actor.place_of_birth}}</p>
        </div>
    </div>
    <div class="col-7">
        <h1>{{actor.name}}</h1>
        <p>Biography</p>
        <p>{{actor.biography}}</p>
        <h2>Know For</h2>
        <div class="list-group list-group-horizontal position-relative overflow-auto w-100">
            <div class="list-group-item p-0 m-1" *ngFor="let cast of actorMovies.cast">
                <img [src]="getImgCast(cast.poster_path)" alt="" width="200px">
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>