<div class="card">
    <mat-card class="mb-2" [style.backgroundImage]="'url(' + getImg() + ')'">
        <circle-progress [percent]="getVoteAverageFormatedPercent()" [title]="getVoteAverageFormated().toString()"
            [radius]="15" [outerStrokeWidth]="3" [innerStrokeWidth]="15" [outerStrokeColor]="'#009946'"
            [innerStrokeColor]="'#001F0E'" [animation]="true" [animationDuration]="300" [titleFontSize]="'10'"
            [showUnits]=false [showSubtitle]=false [toFixed]="2" [backgroundColor]="'#001F0E'" [titleColor]="'#FFFFFF'"
            [backgroundPadding]="2"></circle-progress>
        <mat-icon>more_horiz</mat-icon>
    </mat-card>
    <h3 class="card-title">{{getTitle()}}</h3>
</div>