.row {
    width: 90%;
    padding: 20px;
    overflow: auto;
    height: 80%;
}

div.row::-webkit-scrollbar {
    border-radius: 20px;
    background-color: #303030;
}

div.row::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #757575;
}

mat-paginator {
    background-color: #303030;
    color: white !important;
}