mat-card {
    border-radius: 10px;
    height: 300px;
    width: 200px;
    position: relative;
    background-color: #454545;
}

circle-progress {
    position: absolute;
    top: 0;
    right: 0;
}