.cositas {
    overflow: auto;
    box-sizing: border-box;
    height: 750px !important;
}

mat-paginator {
    width: 100%;
    position: absolute;
    bottom: 0;
}

div.row {
    overflow: auto;
}

div.row::-webkit-scrollbar {
    border-radius: 20px;
    background-color: #303030;
}

div.row::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #757575;
}

app-cartelera-lista-item {
    width: 100%;
}

mat-paginator {
    background-color: #303030;
    color: white !important;
}