<nav class="navbar navbar-expand-lg  navbar-dark bg-dark p-3">
    <div class="col-sm-1">
        <img src="./assets/img/free-cinema-icon-832-thumb.png" alt="" height="50px">
    </div>
    <div class="col-sm-9 px-3">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/home']">
                    <h5>INICIO</h5>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/cartelera']">
                    <h5>CARTELERA</h5>
                </a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/movies']" class="nav-link">
                    <h5>PELICULAS</h5>
                </a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/series']" class="nav-link">
                    <h5>SERIES</h5>
                </a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/actores']" class="nav-link">
                    <h5>ACTORES</h5>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-sm-2">
        <div class="d-flex flex-row justify-content-end align-items-center text-white" *ngIf="approved">
            <div class="col-2  align-center">
                <a (click)="cerrarSesion()" style="cursor: pointer;" class="color-success">logoff</a>
            </div>
            <div class="col-4 d-flex align-items-center text-right">
                <h5 class="text-white">{{userName}}</h5>
            </div>
            <div class="col-4 align-center">
                <img [src]="userAvatar" style=" width: 75px; border-radius: 100%;">
            </div>
        </div>
        <div class="d-flex flex-row justify-content-end align-items-center text-white" *ngIf="!approved">
            <div class="col-4  align-center">
                <a href="https://www.themoviedb.org/signup?language=es" class="color-success">sign in</a>
            </div>
            <div class="col-4 align-center">
                <a (click)="authenticateToken()" class="btn btn-primary mb-3" style="margin-bottom: 0px !important;">log
                    in</a>
            </div>
        </div>
    </div>
</nav>