<div class="card">
    <mat-card class="mb-2" [style.backgroundImage]="'url(' + getImg() + ')'">
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>more_horiz</mat-icon>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-icon>favorite</mat-icon>
            <mat-icon>bookmark</mat-icon>
            <mat-icon>add</mat-icon>
        </mat-expansion-panel>

    </mat-card>
    <a style="color: white; text-decoration: none;" (click)="redirectToDetails(serie)">
        <h3 class="card-title">{{serie.name}}</h3>
    </a>
</div>